<ion-header translucent>
  <ion-toolbar>
    <ion-title>Centers</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <ion-searchbar (ionInput)="handleInput($event)" placeholder="Search by center details..."></ion-searchbar>
  <ion-virtual-scroll [items]="filteredData">
    <ion-card *virtualItem="let item;">
      <ion-item class="ion-activated">
        <ion-label class="label">Name</ion-label>
        <ion-chip color="primary">
          <ion-label color="primary" (click)="chipClickHandler($event)" id="name"> {{ item.name }} </ion-label>
        </ion-chip>
      </ion-item>

      <ion-item class="ion-activated">
        <ion-label class="label">Address</ion-label>
        <ion-chip color="primary">
          <ion-label color="primary" (click)="chipClickHandler($event)"> {{ item.address }} </ion-label>
        </ion-chip>
      </ion-item>

      <ion-item class="ion-activated">
        <ion-label class="label">Block name</ion-label>
        <ion-chip color="primary">
          <ion-label color="primary" (click)="chipClickHandler($event)"> {{ item.block_name }} </ion-label>
        </ion-chip>
      </ion-item>

      <ion-item class="ion-activated">
        <ion-label class="label">Pincode</ion-label>
        <ion-chip color="primary">
          <ion-label color="primary" (click)="chipClickHandler($event)"> {{ item.pincode }} </ion-label>
        </ion-chip>
      </ion-item>

      <ion-item class="ion-activated">
        <ion-label class="label" class="label">From</ion-label>
        <ion-chip color="primary">
          <ion-label color="primary" (click)="chipClickHandler($event)"> {{ item.from }} </ion-label>
        </ion-chip>
      </ion-item>

      <ion-item class="ion-activated">
        <ion-label class="label">To</ion-label>
        <ion-chip color="primary">
          <ion-label color="primary" (click)="chipClickHandler($event)"> {{ item.to }} </ion-label>
        </ion-chip>
      </ion-item>

      <ion-item class="ion-activated">
        <ion-label class="label">Fee type</ion-label>
        <ion-chip color="primary">
          <ion-label color="primary" (click)="chipClickHandler($event)"> {{ item.fee_type }} </ion-label>
        </ion-chip>
      </ion-item>

      <ion-item class="ion-activated">
        <ion-label class="label"> <b>Sessions</b> </ion-label>
        <ion-chip color="dark" class="sessionChip" (click)="presentModal(item.center_id)">
          <ion-icon name="chevron-forward-sharp"></ion-icon>
        </ion-chip>
      </ion-item>

    </ion-card>
  </ion-virtual-scroll>

</ion-content>