<ion-header>
  <ion-toolbar>
    <ion-title class="headerTitle">
      <b>CoWIN <br /> Appointment Availability Notifier</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list class="theme-list" lines="full" class="themeSwitcher">
    <ion-item>
      <ion-icon slot="start" icon="moon" class="component-icon component-icon-dark"></ion-icon>
      <ion-label>
        &nbsp;Dark Mode
      </ion-label>
      <ion-toggle slot="end" (ionChange)="toggleDarkMode()"></ion-toggle>
    </ion-item>
  </ion-list>

  <div id="container" *ngIf="!isAlertActive">
    <ion-list>
      <ion-list-header>
        <ion-label>
          <b>Customise a new appointment availability alert</b>
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>State</ion-label>
        <ion-select interface="action-sheet" (ionChange)="fetchDistricts($event)">
          <ion-select-option *ngFor="let state of states" [value]="state"> {{state.state_name}} </ion-select-option>
        </ion-select>
      </ion-item>

      <div *ngIf="isStateSelected">
        <ion-list>
          <ion-item>
            <ion-label>Districts</ion-label>
            <ion-select interface="action-sheet" (ionChange)="setDistrict($event)">
              <ion-select-option *ngFor="let district of districts" [value]="district"> {{district.district_name}} </ion-select-option>
            </ion-select>
          </ion-item>

        <ion-item>
          <ion-label>Date</ion-label>
          <ion-datetime displayFormat="DD-MM-YYYY" (ionChange)="setDate($event)"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Age limit</ion-label>
        <ion-select interface="action-sheet" (ionChange)="setAge($event)" [value]=18>
          <ion-select-option [value]=18> Only 18+ </ion-select-option>
          <ion-select-option [value]=45> Only 45+ </ion-select-option>
          <ion-select-option [value]=0> Show all </ion-select-option>
        </ion-select>
        </ion-item>
        <ion-item>
          <ion-label class="fee_type"> Fee type </ion-label>
          <ion-segment scrollable (ionChange)="setFee($event)" value="any">
            <ion-segment-button value="any">
              <ion-label>Any</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Free">
              <ion-label>Free</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Paid">
              <ion-label>Paid</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-item>
        <ion-item>
          <ion-label>Test mode <ion-chip color="primary" (click)="testModePopover()" outline><ion-icon name="alert-circle-outline" ></ion-icon></ion-chip></ion-label>
          <ion-toggle checked (ionChange)="setTestMode($event)"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Sync every</ion-label>
          <ion-input type="number" value="15" (ionChange)="setupdateInterval($event)" required="true"></ion-input> minutes
        </ion-item>
      </ion-list>
      </div>

      <div class="createAlert" *ngIf="isStateSelected && isDistrictSelected && isDateSelected">
        <ion-button expand="block" (click)="saveAlertCheck()">
          CREATE ALERT
        </ion-button>
      </div>
    </ion-list>
  </div>

  <div class="activeCard" *ngIf="isAlertActive">
    <ion-card>
      <ion-item class="ion-activated">
        <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
        <ion-label>&nbsp;Active alert's details</ion-label>
        <ion-chip color="danger">
          <ion-label color="danger" (click)="deleteAlert()"> Delete </ion-label>
        </ion-chip>
      </ion-item>

      <ion-item class="ion-activated">
        <ion-label>State</ion-label>
        <ion-chip color="primary">
          <ion-label color="primary" (click)="chipClickHandler($event)"> {{ data['state_name'] }} </ion-label>
        </ion-chip>
      </ion-item>

      <ion-item class="ion-activated">
        <ion-label>District</ion-label>
        <ion-chip color="primary">
          <ion-label color="primary" (click)="chipClickHandler($event)"> {{ data['district_name'] }} </ion-label>
        </ion-chip>
      </ion-item>

      <ion-item class="ion-activated">
        <ion-label>Start date</ion-label>
        <ion-chip color="primary">
          <ion-label color="primary" (click)="chipClickHandler($event)"> {{ data['startDate'] }} </ion-label>
        </ion-chip>
      </ion-item>

      <ion-item class="ion-activated">
        <ion-label>End date</ion-label>
        <ion-chip color="primary">
          <ion-label color="primary" (click)="chipClickHandler($event)"> {{ data['endDate'] }} </ion-label>
        </ion-chip>
      </ion-item>

      <ion-item class="ion-activated">
        <ion-label>Minimum age limit</ion-label>
        <ion-chip color="primary">
          <ion-label color="primary" (click)="chipClickHandler($event)"> {{ ageElement(minimumAgeLimit) }} </ion-label>
        </ion-chip>
      </ion-item>

      <ion-item class="ion-activated">
        <ion-label>Fee type</ion-label>
        <ion-chip color="primary">
          <ion-label color="primary" (click)="chipClickHandler($event)"> {{ fee_type }} </ion-label>
        </ion-chip>
      </ion-item>

      <ion-item class="ion-activated">
        <ion-label>Update interval</ion-label>
        <ion-chip color="primary">
          <ion-label color="primary" (click)="chipClickHandler($event)"> {{ updateInterval }} min(s). </ion-label>
        </ion-chip>
      </ion-item>

      <ion-item class="ion-activated">
        <ion-label>Test mode</ion-label>
        <ion-chip color="primary">
          <ion-label color="primary" (click)="chipClickHandler($event)"> {{ testMode.toString() }} </ion-label>
        </ion-chip>
      </ion-item>
    </ion-card>

    <ion-card class="updateTime">
      <ion-item class="ion-activated">
        <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
        <ion-label>&nbsp;Last synced</ion-label>
      </ion-item>

      <ion-item class="ion-activated">
        <ion-chip color="primary">
          <ion-label color="primary" (click)="chipClickHandler($event)"> {{ lastUpdateDate }} </ion-label>
        </ion-chip>
      </ion-item>
    </ion-card>

    <div class="cowinUrl">
      <ion-button expand="block" href="https://selfregistration.cowin.gov.in/">
        CoWIN
      </ion-button>
    </div>
  </div>
</ion-content>

<ion-footer *ngIf="(isDistrictSelected && isDateSelected) || isAlertActive">
  <ion-toolbar>
    <ion-title class="footerTitle">
      <b>Show all centers</b>
    </ion-title>
    <ion-buttons slot="end" class="footerButton">
      <ion-chip  color="dark" (click)="presentModal()">
        <ion-icon name="chevron-up-sharp"></ion-icon>
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
